@import 'theme/index.scss';

.page {
  background: #000;

  h1,
  h2 {
    line-height: 120%;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px !important;
  }

  .start {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .content {
    // max-width: 1440px;
    // padding-top: 60px;
    margin: 0 auto;
  }
}

@media screen and (max-width: $small-device-width) {
  .page {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px !important;
    }
  }
}
