@import 'theme/index.scss';

.page {

  h1,
  h2 {
    line-height: 120%;
  }

  // h1 {
  //   font-size: 64px;
  // }
  // h2 {
  //   font-size: 48px !important;
  // }

  .start {
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: 1720px) {
    .sideFade {
      position: relative;
      overflow: hidden;

      /* 左侧深色磨砂模糊遮罩 */
      &::before {
        content: '';
        position: absolute;
        left: -10px;
        top: -10px;
        width: calc(var(--insight-padding-x));
        height: calc(100% + 20px);
        background: linear-gradient(to right, #eeeeee 99%, transparent 100%);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        filter: blur(10px);
        z-index: 10;
        pointer-events: none;
      }

      /* 右侧深色磨砂模糊遮罩 */
      &::after {
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        width: calc(var(--insight-padding-x));
        height: calc(100% + 20px);
        background: linear-gradient(to left, #eeeeee 99%, transparent 100%);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        filter: blur(10px);
        z-index: 10;
        pointer-events: none;
      }
    }
  }

  .home {
    background: #fff;

    &::before {
      background: linear-gradient(to right, #fff 99%, transparent 100%);
    }

    &::after {
      background: linear-gradient(to left, #fff 99%, transparent 100%);
    }
  }

  .content {
    margin: 0 auto;
    padding: 0 var(--insight-padding-x);

    @media (min-width: 1720px) {
      padding: 0 calc(var(--insight-padding-x) - 30px);
    }

    position: relative;

    &,
    * {
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: $small-device-width) {
  .page {
    // h1 {
    //   font-size: 32px;
    // }
    // h2 {
    //   font-size: 28px !important;
    // }
  }
}